name: Actualizar Mapa Interactivo

on:
  schedule:
    - cron: '0 * * * *' # Cada hora
  workflow_dispatch:      # Botón manual

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Instalar dependencias
        run: |
          pip install opencv-python-headless numpy pandas gspread google-auth folium openpyxl matplotlib branca google-api-python-client

      - name: Ejecutar script de generación
        env:
          GDRIVE_CREDENTIALS: ${{ secrets.GDRIVE_CREDENTIALS }}
        run: python plano_int_2_0.py

      - name: Desplegar a GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: .
          clean: false # Mantiene tus fotos y el index.html
